[submodule "LLMBrokerWebsite"]
	path = LLMBrokerWebsite
	url = https://github.com/Dawe000/LLMBrokerWebsite
[submodule "LLMBrokerContracts"]
	path = LLMBrokerContracts
	url = https://github.com/Dawe000/LLMBrokerContracts
[submodule "LLMBrokerEndpoint"]
	path = LLMBrokerEndpoint
	url = https://github.com/Dawe000/LLMBrokerEndpoint
[submodule "LLMBrokerAPILibrary"]
	path = LLMBrokerAPILibrary
	url = https://github.com/Dawe000/LLMBrokerAPILibrary
